:root {
  --base-font-size: 16px;
  --card-width: 25.625rem;
  --card-height: 22.55rem;
  --image-height: 22.5rem;
  --gap-size: 1.875rem;
  --border-radius: 0.625rem;
  --btn-border-radius: 2.625rem;
  --shadow-light: rgba(0, 0, 0, 0.15);
  --shadow-dark: rgba(0, 0, 0, 0.25);
  --button-bg-color: #007bff;
  --button-bg-color-hover: #0056b3;
  --color-global: #ffe3e3;
  --color-white: white;
  --color-banner: #333;
}
